body{
    background: #1de7ee;;
    font-family: Verdana;
    max-width: auto;
    margin: 10px;
    padding: auto;

}

.foto{
    border: 10px;
    border-radius: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


#title, .subtitle, .post_title {
    color:rgb(8, 241, 203);
    text-transform: uppercase;
    text-align: center;
}

#title {
    font-size: 50px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #faf5f5;

}

.post_title{
    font-size: 20px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: rgb(8, 8, 8);
    padding: 10px;
    border: 10px solid #000;
    margin-bottom: 15px;
    border-radius: 5px;

}

.post_content {
    margin: 50;
    margin-bottom: 15px;
    text-transform: initial;
    text-align: justify;
    background: #faf5f5;
}

.post_image{
    margin-bottom: 10px;
    width: auto;
    height: auto;
    
  
}

.contacts_list{
    vertical-align: top; 
    text-align: center;  
    
}

.contacts_list li a{
    text-decoration: none;
}

.meuprimeiroacerto{
    text-align: center;
}