body{
    background: #9c7d7d;;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;

}

.photo{
    border: 1px;
    border-radius: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}


#title, .subtitle, .post_title {
    color:#fff;
    text-transform: uppercase;
    text-align: center;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #505050;

}

.post_title{
    font-size: 20px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: rgb(8, 8, 8);
    padding: 10px;
    border: 3px solid #000;
    margin-bottom: 15px;
    border-radius: 5px;

}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: initial;
    text-align: justify;
}

.post_image{
    margin-bottom: auto;
    width: auto;
    height: auto;


}
.contacts_list{
    vertical-align: inherit;
    
    
}



.contacts_list li a{
    text-decoration: none;
}

.meuprimeiroacerto{
    text-align: center 
}